In [1]:
import pycaret

In [1]:
from pycaret.regression import *
from pycaret.datasets import get_data

In [9]:
import pandas as pd
import numpy as np
data = pd.read_csv('auto_mpg.csv')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
horsepower      392 non-null object
weight          392 non-null int64
acceleration    392 non-null float64
model year      392 non-null int64
origin          392 non-null int64
car name        392 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 30.6+ KB

In [26]:
data.drop(['model_year',''])

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [21]:
data.drop(data.loc[data['horsepower'] == '?'].index,inplace = True)

In [30]:
data.drop(['model year','car name'],axis = 1, inplace = True)

In [31]:
r2 = setup(data, target = 'mpg', session_id = 123,
           numeric_features = ['cylinders','horsepower'],
           normalize = True,
           polynomial_features = True, trigonometry_features = True,
           feature_interaction=True)

Setup Succesfully Completed!

In [32]:
lr = create_model('lr')

         MAE    MAPE      MSE      R2    RMSE   RMSLE
0     2.9630  0.1080  17.9414  0.7228  4.2357  0.1349
1     3.6010  0.1462  21.7667  0.6987  4.6655  0.1803
2     1.9395  0.0777   5.9924  0.9017  2.4479  0.0904
3     3.4016  0.1426  23.1247  0.7043  4.8088  0.1764
4     3.3729  0.1302  24.2939  0.6875  4.9289  0.1622
5     2.4658  0.1141  12.7950  0.6601  3.5770  0.1468
6     2.4183  0.1135  10.0210  0.7726  3.1656  0.1262
7     2.6699  0.1173  12.7330  0.7487  3.5683  0.1439
8     3.3879  0.1388  19.1554  0.6553  4.3767  0.1637
9     3.1342  0.1455  16.5367  0.7317  4.0665  0.1639
Mean  2.9354  0.1234  16.4360  0.7283  3.9841  0.1489
SD    0.5145  0.0205   5.6724  0.0675  0.7503  0.0256

In [33]:
save_model(lr, 'deployment_2_07052020')

Transformation Pipeline and Model Succesfully Saved

In [34]:
deployment_07052020 = load_model('deployment_07052020')

Transformation Pipeline and Model Sucessfully Loaded

In [35]:
deployment_07052020

[Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       ml_usecase='regression',
                                       numerical_features=[], target='charges',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 numeric_strategy='mean',
                                 target_variable=None)),
                 ('new_levels1',
                  New_Catagorical_Levels...
                 ('dummy', Dummify(target='charges')),
                 ('fix_perfect', Remove_100(target='charges')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', Empty()), ('fix_multi', Empty()),
                 ('dfs',
                  DFS_Classic(interactions=['multiply'], ml_usecase='regression',
                              random_state=123, subclass='binary',
                              target='charges',
                              top_features_to_pick_percentage=None)),
                 ('pca', Empty())],
          verbose=False),
 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False),
 None]